@mixin underline() {

    &:hover:after,
    &:focus:after {
        width: 100%;
    }

    &:after {
        display: block;
        content: "";
        height: 3px;
        width: 0%;
        background-color: #ff4b82;
        @include transition(width, .2s);
    }
}

@mixin gradient-button() {
    background-image: -moz-linear-gradient(0deg, rgb(183, 37, 110) 0%, rgb(248, 99, 107) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(183, 37, 110) 0%, rgb(248, 99, 107) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(183, 37, 110) 0%, rgb(248, 99, 107) 100%);
    text-transform: uppercase;
    width: 208px;
    height: 60px;
    color: white;
    border-radius: 30px;
    border: 0;
    box-shadow: 0;
    -webkit-transition: box-shadow .25s linear;
    -moz-transition: box-shadow .25s linear;
    -ms-transition: box-shadow .25s linear;
    -o-transition: box-shadow .25s linear;
    transition: box-shadow .25s linear;

    &:focus,
    &:active {
        outline: 0;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px 5px rgb(248, 99, 107);
        transition: .2s;
    }
}

@mixin transition($attribute: all, $time: 0.2s, $function: ease-in-out) {
    transition: $attribute $time $function;
    -webkit-transition: $attribute $time $function;
    -o-transition: $attribute $time $function;
    -moz-transition: $attribute $time $function;
}

@mixin logoGradient() {
    background-color: #0dd8ee;
    background: -moz-linear-gradient(left, #0dd8ee 0%, #601fb8 40%, #fd0147 80%);
    background: -webkit-linear-gradient(left, #0dd8ee 0%, #601fb8 40%, #fd0147 80%);
    background: linear-gradient(to right, #0dd8ee 0%, #601fb8 40%, #fd0147 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0dd8ee', endColorstr='#fd0147', GradientType=1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}