@import 'variables';
@import '../bootstrap/scss/bootstrap.scss';
@import 'mixins';

body {
  position: relative;
  font-family: "Myriad Pro";
}

header {
  position: relative;
  z-index: 1;
  background: url('../images/background.png') no-repeat;
  background-size: cover;
  height: 720px;

  .nav-section {
    height: 75px;
  }

  .logo-text {
    color: rgb(255, 255, 255);
    line-height: 0.948;
    transform: matrix(0.06619887099904, 0, 0, 0.06642105113718, 0, 0);
    -moz-transform: matrix(0.06619887099904, 0, 0, 0.06642105113718, 0, 0);
    -webkit-transform: matrix(0.06619887099904, 0, 0, 0.06642105113718, 0, 0);
    -ms-transform: matrix(0.06619887099904, 0, 0, 0.06642105113718, 0, 0);
  }

  .logo {
    position: relative;

    .img-fluid {
      position: relative;
      bottom: 10px;
      left: -10px;
    }

    .logo-text {
      font-family: 'Oblivion';
      text-transform: lowercase;
      font-size: 45px;
      padding: 5px;
    }

    &:hover {
      cursor: pointer;

      .logo-text {
        @include logoGradient();
      }
    }
  }

  nav {
    .nav {
      font-size: 17.333px;
      line-height: 1.2;
      text-transform: uppercase;

      &-link {
        color: #ffffff;
        font-size: 17.333px;
        line-height: 1.2;
        position: relative;

        @include underline();

        &:hover {
          cursor: pointer;
        }
      }

    }
  }

  .letter {
    text-align: right;

    a {
      display: block;
      background: url('../images/messages-sprite.png') 100% 100% no-repeat;
      background-size: auto;
      background-position: 0 6px;
      cursor: pointer;

      &:hover {
        background-position: 0 -29px;
      }
    }
  }

  .space-above {
    margin-top: 185px;
    position: relative;
  }

  .heading {
    font-size: 65px;
    font-family: "TTPinesDEMO";
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
  }

  .subheading {
    font-size: 19px;
    color: rgb(255, 255, 255);
    line-height: 1.235;
    width: 720px;
    margin-bottom: 75px;
  }

  .laptop {
    position: absolute;
    right: 0;
    top: -70px;
    width: 420px;
    height: 405px;
    background: url('../images/laptop.png') 100% 100% no-repeat;
    background-size: contain;
  }

  .cup {
    position: absolute;
    right: 270px;
    top: -150px;
    width: 192px;
    height: 286px;
    background: url('../images/cup.png') 100% 100% no-repeat;
    background-size: contain;
  }

  .order-button {
    @include gradient-button();
  }

}

.bg-red {
  position: relative;
  top: -500px;
  z-index: 0;
  background: url('../images/bg2.png') no-repeat;
  background-size: cover;
  height: 3800px;
  width: 100%;
  padding-top: 550px;

  .moon {
    position: absolute;
    z-index: 1;
    width: 238px;
    height: 238px;
    left: 0;
    bottom: 30%;
    background: url('../images/moon.png') 100% 100% no-repeat;
    background-size: contain;
  }

  .mars {
    position: absolute;
    z-index: 1;
    width: 156px;
    height: 160px;
    right: 0;
    bottom: 40%;
    background: url('../images/mars.png') 100% 100% no-repeat;
    background-size: contain;
  }

  .why-we {
    position: relative;
    padding-top: 50px;

    &--planet {
      width: 100px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &--heading {
      text-align: center;
      font-size: 48px;
      font-family: "TTPinesDEMO";
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-style: italic;
      line-height: 1.2;
      // margin: auto;
    }
  }

  .pluses {
    padding-top: 20px;

    &--block {
      padding: 90px 75px 150px 25px;
      color: white;
      text-align: center;
      width: 80%;

      .heading {
        font-size: 18.667px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        text-align: center;
      }

      .text {
        font-size: 16px;
        padding-top: 15px;
      }

      &-1 {
        height: 440px;
        background: url('../images/why-we-1.png') no-repeat;
        background-size: contain;
      }

      &-2 {
        height: 440px;
        margin-top: 80px;
        background: url('../images/why-we-2.png') no-repeat;
        // background-size: contain;
      }

      &-3 {
        height: 440px;
        background: url('../images/why-we-3.png') no-repeat;
        background-size: contain;
      }
    }
  }

  .raketa {
    position: absolute;
    top: -200px;
    left: -100px;
    height: 400px;
    background: url('../images/raketa.png') no-repeat;
    background-size: contain;
  }

  .portfolio {
    margin-top: 200px;
    padding-top: 50px;

    &-parts {
      position: relative;
      z-index: 2;
      line-height: 0;

      -webkit-column-count: 4;
      -webkit-column-gap: 15px;
      -moz-column-count: 4;
      -moz-column-gap: 15px;
      column-count: 4;
      column-gap: 15px;

      img, video {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 15px;
        border-radius: 15px;
      }
    }

    &-heading {
      height: 250px;
    }

    &--heading {
      position: relative;
      display: block;
      margin-left: 280px;
      font-size: 48px;
      font-family: "TTPinesDEMO";
      color: rgb(255, 255, 255);
      font-weight: bold;
      font-style: italic;
      line-height: 1.2;
      text-align: center;
    }

    &--cosmonaute {
      position: relative;
      bottom: 160px;
      left: 56px;
      background: url('../images/cosmonaut.png') 100% 100% no-repeat;
      background-size: contain;
      height: 208px;
      width: 468px;
    }

    &-part {
      height: 481px;
      // width: 338px;
      padding: 15px 15px 0 15px;
      background-color: white;

      video {
        width: 100%;
      }
    }

    &-image {
      display: block;
      margin: auto;
      width: 100%;
      cursor: pointer;
      @include transition();
    }
  }

  .more-examples {
    margin-top: 100px;

    &-button {
      display: block;
      margin: auto;

      @include gradient-button();
    }
  }

  .socials {
    margin-top: 200px;

    .youtube-white-border {
      width: 76%;
      margin-left: 12%;
      display: flex;
      align-items: center;
      position: relative;
      padding: 50px;
      border-radius: 50px 0 50px 0;
      min-height: 220px;
      box-shadow: inset 0 0 0 10px #fff;
      color: white;

      @include transition();

      .youtube-icon {
        @include transition();
      }

      &:focus,
      &:hover {
        text-decoration: none;
        box-shadow: inset 0 0 0 14px #fff;

        .youtube-icon {
          transform: scale(0.8, 0.8);
        }
      }

      p {
        font-size: 35.649px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.122;
        text-align: left;
        -moz-transform: matrix(0.75738197198045, 0, 0, 0.75738197198045, 0, 0);
        -webkit-transform: matrix(0.75738197198045, 0, 0, 0.75738197198045, 0, 0);
        -ms-transform: matrix(0.75738197198045, 0, 0, 0.75738197198045, 0, 0);
      }

      .youtube-icon {
        position: absolute;
        left: 50%;
        margin-left: -50px;
        top: 50%;
        margin-top: -50px;
        z-index: 20;

        @include transition();

        img {
          width: 100%;
        }
      }

      .youtube-cosmonaute {
        position: absolute;
        bottom: 0;
        right: 14px;
      }

    }

    .vk-how {
      position: relative;
      width: 76%;
      margin-left: 12%;
      display: flex;
      align-items: center;

      .bluelarge {
        position: relative;
        z-index: 20;
        font-size: 72px;
        color: rgb(123, 164, 234);
        font-weight: bold;
        line-height: 0.556;
        margin: 0;
      }

      p {
        position: relative;
        font-size: 29.793px;
        color: rgb(255, 255, 255);
        line-height: 1.242;
        margin-left: 15px;
      }

      .large-blue-but {
        width: 223px;
        height: 171px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        border-radius: 0 50px 0 50px;

        @include transition();

        &:hover {
          transform: scale(0.9, 0.9);
          box-shadow: 0 20px 40px rgba(123, 164, 234, 0.4);
        }
      }
    }
  }
}

.bg-white {
  position: relative;
  top: -600px;
  z-index: 1;
  background: url(../images/white-bg.png) 85% no-repeat;
  background-size: cover;
  //overflow: hidden;
  height: 900px;
  width: 100%;
  padding-top: 290px;

  .contact-us--heading {
    font-size: 48px;
    font-family: "TTPinesDEMO";
    color: rgb(23, 45, 124);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.139;
  }

  .quoute {
    text-align: right;
  }

  .quoute--frase {
    display: inline-block;
    font-size: 14.667px;
    font-family: "MyriadPro";
    color: rgba(0, 0, 0, 0.878);
    line-height: 1.545;
    text-align: left;
    font-weight: bold;
  }

  .curly-brace {
    font-size: 96px;
    font-family: "MyriadPro";
    color: rgb(23, 45, 124);
    line-height: 1.2;
    text-align: center;
    font-weight: bold;
  }

  form {
    padding-top: 100px;
    color: rgba(0, 0, 0, 0.749);

    input,
    .form-textarea {
      padding: 5px 0;
      width: 100%;
      border: 0;
      border-bottom: 2px solid grey;
      margin-top: 45px;

      @include transition(all, 0.1s);

      &:focus {
        outline: 0;
        border-bottom: 2px solid #63a6f9;
      }
    }

    .form-submit {
      display: block;
      margin: 50px auto;
      width: 270px;
      height: 60px;
      background-image: -moz-linear-gradient(0deg, #0b1a5b 0%, #13266b 100%);
      background-image: -webkit-linear-gradient(0deg, #0b1a5b 0%, #13266b 100%);
      background-image: -ms-linear-gradient(0deg, #0b1a5b 0%, #13266b 100%);
      text-transform: uppercase;
      color: white;
      border-radius: 30px;
      border: 0;
      box-shadow: 0;

      @include transition(box-shadow);

      &:focus,
      &:active {
        outline: 0;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 15px 5px #13266b;
        transition: .2s;
      }
    }
  }
}

.footer {
  position: relative;
  bottom: 0;
  background: url('../images/footer-bg.png') no-repeat;
  background-size: cover;
  z-index: 10;
  height: 455px;
  width: 100%;
  padding-top: 125px;
  color: white;

  &--heading {
    font-size: 17.333px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 50px;
  }

  &-contacts {
    margin-top: 75px;

    &--contact {
      display: inline-block;
    }
  }

  .footer-email-link,
  .footer-whatsapp-link {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;

    &:focus,
    &:hover {
      outline: 0;
    }
  }

  &-email-link {
    margin-bottom: 10px;
  }

  &-logo {
    text-align: center;
    width: 100%;
    display: block;

    &-link i {
      font-family: 'Oblivion';
      text-transform: lowercase;
      font-size: 60px;
      padding: 5px;

      @include logoGradient();
    }

    &-image {
      display: block;
      margin: auto;
    }
  }

  .footer-nav {
    margin-top: 75px;

    .nav-link {
      color: white;
      position: relative;

      &:hover {
        cursor: pointer;
        color: #63a6f9;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        outline: 0;
      }
    }
  }

  .social-media-icons {
    margin-top: 50px;

    &__item {
      display: inline-block;
      background-image: url("../images/sprite.png");
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;

      a {
        width: 100%;
        height: 100%;
        display: block;
      }

      &:hover {
        cursor: pointer;
      }

      &--vkontakte {
        background-position: 0 0;

        &:hover {
          background-position: 0 -33px;
        }
      }

      &--youtube {
        background-position: -32px 0;

        &:hover {
          background-position: -32px -33px;
        }
      }

      &--instagram {
        background-position: -64px 0;

        &:hover {
          background-position: -64px -33px;
        }
      }

      &--facebook {
        background-position: -96px 0;

        &:hover {
          background-position: -96px -33px;
        }
      }

      &--behance {
        background-position: -128px 0;

        &:hover {
          background-position: -128px -33px;
        }
      }
    }
  }
}

#myBtn {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff416b;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  font-size: 18px;
}

.grayscale {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(../images/grayscale.svg);
  filter: grayscale(100%);
  /* Firefox 4+ */
  filter: gray;
  /* IE 6-9 */
}
