header {
  position: relative;
  z-index: 1;
  font-family: "Myriad Pro";
  background: url("../images/background.png") no-repeat;
  background-size: cover;
  height: 720px;
}
header .nav-section {
  height: 75px;
}
header .logo-text {
  font-family: "Myriad Pro";
  color: white;
  line-height: 0.948;
  transform: matrix(0.066198871, 0, 0, 0.0664210511, 0, 0);
  -moz-transform: matrix(0.066198871, 0, 0, 0.0664210511, 0, 0);
  -webkit-transform: matrix(0.066198871, 0, 0, 0.0664210511, 0, 0);
  -ms-transform: matrix(0.066198871, 0, 0, 0.0664210511, 0, 0);
}
header .logo {
  position: relative;
}
header .logo .img-fluid {
  position: relative;
  bottom: 10px;
  left: -10px;
}
header .logo .logo-text {
  font-family: "Oblivion";
  text-transform: lowercase;
  font-size: 40px;
  padding: 5px;
}
header .logo:hover {
  cursor: pointer;
}
header .logo:hover .logo-text {
  background-color: #0dd8ee;
  background: -moz-linear-gradient(left, #0dd8ee 0%, #601fb8 50%, #fd0147 100%);
  background: -webkit-linear-gradient(left, #0dd8ee 0%, #601fb8 50%, #fd0147 100%);
  background: linear-gradient(to right, #0dd8ee 0%, #601fb8 50%, #fd0147 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0dd8ee", endColorstr="#fd0147", GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .nav {
  font-size: 17.333px;
  line-height: 1.2;
}
header nav .nav .nav-link {
  color: #ffffff;
  font-size: 17.333px;
  line-height: 1.2;
  position: relative;
}
header nav .nav .nav-link:hover:after, header nav .nav .nav-link:focus:after {
  width: 100%;
}
header nav .nav .nav-link:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #ff4b82;
  transition: width 0.2s ease-in-out;
}
header nav .nav .nav-link:hover {
  cursor: pointer;
}
header .letter {
  text-align: right;
}
header .letter a {
  display: block;
  background: url("../images/message.png") no-repeat;
  background-size: auto;
}
header .letter a:hover {
  cursor: pointer;
}
header .space-above {
  margin-top: 185px;
  position: relative;
}
header .heading {
  font-size: 65px;
  font-family: "TTPinesDEMO";
  color: white;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
}
header .subheading {
  font-size: 19px;
  font-family: "MyriadPro";
  color: white;
  line-height: 1.235;
  width: 720px;
  margin-bottom: 75px;
}
header .laptop {
  position: absolute;
  right: -50px;
  top: -100px;
  width: 420px;
  height: 405px;
  background: url("../images/laptop.png") 100% 100% no-repeat;
  background-size: contain;
}
header .cup {
  position: absolute;
  top: -160px;
  right: 300px;
}
header .order-button {
  background-image: -moz-linear-gradient(0deg, #b7256e 0%, #f8636b 100%);
  background-image: -webkit-linear-gradient(0deg, #b7256e 0%, #f8636b 100%);
  background-image: -ms-linear-gradient(0deg, #b7256e 0%, #f8636b 100%);
  width: 208px;
  height: 60px;
  color: white;
  border-radius: 30px;
  border: 0;
  box-shadow: 0;
  -webkit-transition: box-shadow 0.25s linear;
  -moz-transition: box-shadow 0.25s linear;
  -ms-transition: box-shadow 0.25s linear;
  -o-transition: box-shadow 0.25s linear;
  transition: box-shadow 0.25s linear;
}
header .order-button:focus, header .order-button:active {
  outline: 0;
}
header .order-button:hover {
  box-shadow: 0px 0px 15px 5px #f8636b;
  transition: 0.2s;
}

.bg-red {
  position: absolute;
  top: 45px;
  z-index: 0;
  background: url("../images/bg2.png") 100% 100% no-repeat;
  background-size: cover;
  height: 3000px;
  width: 100%;
  padding-top: 700px;
}
.bg-red .why-we {
  position: relative;
}
.bg-red .why-we--planet {
  width: 129px;
  height: 129px;
  position: relative;
  top: -15px;
  right: -30px;
}
.bg-red .why-we--heading {
  text-align: center;
  font-size: 48px;
  font-family: "TTPinesDEMO";
  color: white;
  font-weight: bold;
  font-style: italic;
  line-height: 1.2;
}

/*# sourceMappingURL=app.css.map */
