/* @font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    /* font-weight: 600;
    font-style: normal; */
}

@font-face {
    font-family: 'TTPinesDEMO';
    src: url('../fonts/TT\ Pines\ Bold\ Italic\ DEMO.otf')
}